body, div, p, img
{
    margin: 0;
    border: 0;
    padding: 0;
}

a
{
    margin: 10px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

div#userinfo
{
    background-color: rgb(140, 140, 225);
    margin: 10px;
    margin-bottom: 0;
    padding: 10px;
}

form ul, #menu ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}

form.field_list li
{
    margin-bottom: 5px;
}

form.field_list label
{
    width: 160px;
    display: block;
    float: left;
}

form.field_list input
{
    display: block;
}

div#account
{
    float: right;
}

#content
{
    margin-left: 180px;
    padding: 10px;
}

#menu
{
    width: 150px;
    float: left;
    margin: 10px;
    padding: 10px;
    background-color: rgb(140, 140, 225);
}

.errorlist, p.message
{
    font-style: italic;
    margin-bottom: 5px;
}

.errorlist
{
    color: red;
    padding-left: 160px;
}

table#user_table
{
    border-color: rgb(255, 255, 255);
    border-collapse: collapse;
}

table#user_table, table#user_table tr, table#user_table td
{
    border-width: 3px;
    background-color: rgb(200, 200, 240);
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-collapse: collapse;
}

table#user_table td
{
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}

table#user_table tr.top td
{
    background-color: rgb(140, 140, 225); 
    font-weight: bold;
}