body, div, p, img, ul, li
{
    margin: 0;
    border: 0;
    padding: 0;
}

a
{
    margin: 10px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

div#userinfo
{
    background-color: rgb(140, 140, 225);
    margin: 10px;
    margin-bottom: 0;
    padding: 10px;
}

form ul, #menu ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}

form.field_list li
{
    margin-bottom: 5px;
}

form.field_list label
{
    width: 160px;
    display: block;
    float: left;
}

form.field_list input
{
    display: block;
}

div#account
{
    float: right;
}

#content
{
    margin-left: 180px;
    padding: 10px;
}

#menu
{
    float: left;
    margin: 10px;
    width: 150px;
    background-color: rgb(140, 140, 225);
}

.errorlist, p.message
{
    font-style: italic;
    margin-bottom: 5px;
}

.errorlist
{
    color: red;
    padding-left: 160px;
}

table#user_table
{
    border-color: rgb(255, 255, 255);
    border-collapse: collapse;
}

table#user_table, table#user_table tr, table#user_table td
{
    border-width: 3px;
    background-color: rgb(200, 200, 240);
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-collapse: collapse;
}

table#user_table td
{
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}

table#user_table tr.top td
{
    background-color: rgb(140, 140, 225); 
    font-weight: bold;
}

ul.menu, ul.menu li
{
    margin: 0;
    padding: 0;
    width: 150px;
}

ul.menu li a
{
    margin: 0;
}

ul.menu li
{
    float: left; 
    position: relative;
    background-color: rgb(140, 140, 225);
    padding: 5px;
    padding-left: 10px;
}

ul.menu ul
{
    display: none;
    position: absolute;
    top: 0;
    left: 166px;
}

ul.menu li:hover ul,
ul li ul.menu li:hover ul
{
    display: block;
}

ul.menu li:hover ul ul
{
    display: none;
}

li.menu_title
{
    font-style: italic;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(255, 255, 255);
}

li.menu_insert
{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(255, 255, 255);
}

ul#cat_menu li
{
    background-color: rgb(200, 200, 240);
    float: left;
    display: inline;
    position: relative;
    height: 30px;
}

ul#cat_menu ul
{
    background-color: rgb(200, 200, 240);
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
}

ul#cat_menu ul li
{
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: rgb(255, 255, 255);
    float: left;
    display: inline;
    width: 150px;
}

ul#cat_menu a
{
    float: left;
    display: block;
}

ul#cat_menu li:hover li a
{
    float: none;
}

ul#cat_menu li:hover ul
{
    display: block;
}