body, div, p, img, ul, li, td, tr, table
{
    margin: 0;
    border: 0;
    padding: 0;
    list-style: none;
}

textarea
{
    width: 150px;
    height: 60px;
}

.right
{
    float: right;
    margin-top: 0;
}

.upper_panel
{
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    padding-left: 10px;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #AAAAAA;
}

#logo
{
    margin-top: 5px;
    padding: 20px;
    font-size: 40px;
}

a
{
    margin: 5px;
    margin-left: 0;
    color: black;
    font-weight: bold;
}

.ui-datepicker
{
    width: 12em !important;
}

.ui-datepicker-title select, .ui-datepicker table, .ui-datepicker a, .ui-datepicker th
{
    margin: 0;
    padding: 1px !important;
    margin-left: 0;
    color: black;
    font-size: 12px !important;
    font-weight: normal;
}

.buttonlike_href
{
    text-decoration: none;
}

#time
{
    margin-bottom: 3px;
}

#time input
{
    margin-left: 14px;
    margin-right: 14px;
}

div#userinfo
{
    background-color: rgb(140, 140, 225);
    margin: 5px;
    margin-bottom: 0;
    padding: 10px;
}

form ul, #menu ul
{
    margin: 0;
    padding: 0;
}

.field_list li
{
    margin-bottom: 5px;
}

.field_list label
{
    width: 130px;
    display: block;
    float: left;
}

.field_list input, .field_list textarea, .field_list select
{
    display: block;
}

.field_list input.button
{
    clear: left !important;
}

.regular_user textarea
{
    border-style: none;
}

div#account
{
    float: right;
}

#content
{
    padding: 5px;
    float: left;
    width: 800px;
}

#menu
{
    float: left;
    margin: 5px;
    background-color: #AAAAAA;
}

.errorlist, .message
{
    font-style: italic;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 5px;
}

.errorlist
{
    color: red;
}

.item_table
{
    border-color: #FFFFFF;
    border-collapse: collapse;
}

.item_table, .item_table tr, .item_table td
{
    border-width: 1px;
    background-color: #DDDDDD;
    border-color: #FFFFFF;
    border-style: solid;
    border-collapse: collapse;
}

.item_table td
{
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}

.item_table tr.top td
{
    background-color: #AAAAAA; 
    font-weight: bold;
}

ul#cat_menu li
{
    float: left;
    display: inline;
    position: relative;
    height: 30px;
}

ul#cat_menu a
{
    float: left;
    display: block;
}

.small_margin
{
    margin: 5px;
}

div#category_menu
{
    float: left;
    padding-bottom: 10px;
}

.marked, .marked li
{
    list-style: square;
    margin-left: 20px;
}

div.data_blocks
{
    padding-bottom: 10px;
    float: none;
    clear: left;
}

.jqgrow:hover
{
    cursor: pointer;
}

.underlined
{
    text-decoration: underline;
}

div#edit_category input, input.edit_button
{
    margin-bottom: 10px;
    margin-right: 2px;
    float: left;
    clear: none;
}

#gbox_move_to_category
{
    float: left;
}

.move_list, .move_submit
{
    clear: left;
}

.image
{
    float: right;
}

#basket
{
    margin: 5px;
    float: right;
    background-color: #FFFFFF;
    width: 200px;
}

#basket li
{
    border-style: solid;
    border-width: 1px;
    border-color: #AAAAAA;
    border-collapse: collapse;
}

.basket_header, .basket_item li
{
    padding: 3px;
}

.img_button
{
    width: 21px !important;
    height: 21px !important;
}

.comment_blocks
{
    margin-bottom: 2px;
}

.mark_list
{
    margin-left: 30px;
    margin-top: 10px;
}

.mark
{
    font-weight: bold;
}

.mark_single
{
    font-weight: bold;
    font-size: 20px;
}

.signature_single
{
    font-weight: bold;
    font-style: italic;
}

.comment_table
{
    width: 600px;
}

.comment_table, .comment_table tr, .comment_table td
{
    background-color: #DDDDDD;

    border-width: 1px;
    border-style: solid;
    border-collapse: collapse;
    border-color: #FFFFFF;
    
    padding: 10px;
    
    vertical-align: top;
}

#id_comment
{
    width: 450px;
}

.mark_rate
{
    width: 100px;
    text-align: center;
}

#YMapsID
{
    float: left;
    width: 400px;
    height: 400px;
}

#office_addresses
{
    float: left;
}

#office_addresses li
{
    list-style-type: decimal;
}

.subitem label
{
    padding-left: 20px;
    width: 110px;
}

.report_link
{
    margin-left: 10px;
    font-weight: normal;
    color: #0000FF;
}