body, div, p, img, ul, li
{
    margin: 0;
    border: 0;
    padding: 0;
}

a
{
    margin: 10px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

div#content
{
    width: 600px;
}

div#userinfo
{
    background-color: rgb(140, 140, 225);
    margin: 10px;
    margin-bottom: 0;
    padding: 10px;
}

form ul, #menu ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}

form.field_list li
{
    margin-bottom: 5px;
}

form.field_list label
{
    width: 160px;
    display: block;
    float: left;
}

form.field_list input, form.field_list textarea
{
    display: block;
}

div#account
{
    float: right;
}

#content
{
    padding: 10px;
    float: left;
}

#menu
{
    float: left;
    margin: 10px;
    /*width: 150px;*/
    background-color: rgb(140, 140, 225);
}

.errorlist, p.message
{
    font-style: italic;
    margin-bottom: 5px;
}

.errorlist
{
    color: red;
}

table#user_table
{
    border-color: rgb(255, 255, 255);
    border-collapse: collapse;
}

table#user_table, table#user_table tr, table#user_table td
{
    border-width: 3px;
    background-color: rgb(200, 200, 240);
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-collapse: collapse;
}

table#user_table td
{
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}

table#user_table tr.top td
{
    background-color: rgb(140, 140, 225); 
    font-weight: bold;
}

li.menu_title
{
    font-style: italic;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(255, 255, 255);
}

li.menu_insert
{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(255, 255, 255);
}

ul#cat_menu li
{
    float: left;
    display: inline;
    position: relative;
    height: 30px;
}

ul#cat_menu a
{
    float: left;
    display: block;
}

.small_margin
{
    margin: 5px;
}

div#category_menu
{
    float: left;
    padding-bottom: 10px;
}

ul.marked
{
    list-style: square;
    margin-left: 20px;
}

div.data_blocks
{
    padding-bottom: 10px;
    float: none;
    clear: left;
}

.jqgrow:hover
{
    cursor: pointer;
}

.underlined
{
    text-decoration: underline;
}

div#edit_category input
{
    margin-bottom: 10px;
    margin-right: 2px;
    float: left;
    clear: none;
}

div#edit_category input#first_btn
{
    clear: left;
}

.field_list input.button
{
    clear: left !important;
}

#gbox_move_category
{
    float: left;
}

#move_category_list, #move_category_submit
{
    clear: left;
}