<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    {% load webdesign %}
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link type="text/css" rel="stylesheet" media="screen" href="/media/css/marketStyle.css">
        <link type="text/css" rel="stylesheet" href="/media/css/jquery-ui-1.8.7.custom.css">
        <link type="text/css" rel="stylesheet" href="/media/css/ui.jqgrid.css">
        <script src="/media/js/jquery-1.4.4.min.js" type="text/javascript"></script>
        <script src="/media/js/grid.locale-en.js" type="text/javascript"></script>
        <script src="/media/js/jquery.jqGrid.min.js" type="text/javascript"></script>
        <script src="/media/js/marketJS.js" type="text/javascript"></script>
        <title>theMarket</title>
    </head>
    <body>
        <div id="logo">
            <img src="/media/logo.jpg" alt="logotype"/>
        </div>
        <div id="userinfo">
            {% block userinfo %}
                <div id="account">
                    {% if request.user %}
                        <a href="{% url users %}">Users</a>
                        <a href="{% url edit_user request.user.id %}">Account</a>
                        <a href="{% url logout %}">Log out</a>
                    {% else %}
                        <a href="{% url login %}">Log in</a>
                        <a href="{% url register %}">Registration</a>
                    {% endif %}
                </div>
                <div id="welcome">
                    Welcome, {% if request.user %}{{request.user.login}}{% else %}Nobody{% endif %}.
                </div>
            {% endblock userinfo %}
        </div>
<!--
        <div id="menu">
            <ul class="menu">
                <li class="menu_title"><a href="{% url category root.id %}">Categories</a></li>
                {% if request.user.is_admin %}
                    <li class="menu_insert">
                        <form class="field_list" id="add_category" action="{% url add_category 1 %}" method="GET">
                        {% csrf_token %}
                            <input type="submit" value="Add category" />
                        </form>
                    </li>
                {% endif %}
                {% for cat0 in root.get_direct_child_categories %}
                <li>
                    <a href="{% url category cat0.id %}">{{ cat0.name }}</a>
                    <ul class="menu">
                        {% if request.user.is_admin %}
                            <li class="menu_insert">
                                <form class="field_list" id="add_category" action="{% url add_category cat0.id %}" method="GET">
                                {% csrf_token %}
                                    <input type="submit" value="Add category" />
                                </form>
                            </li>
                        {% endif %}
                        {% for cat1 in cat0.get_direct_child_categories %}
                        <li>
                            <a href="{% url category cat1.id %}">{{ cat1.name }}</a>
                            <ul class="menu">
                            {% if request.user.is_admin %}
                                <li class="menu_insert">
                                    <form class="field_list" id="add_category" action="{% url add_category cat1.id %}" method="GET">
                                    {% csrf_token %}
                                        <input type="submit" value="Add category" />
                                    </form>
                                </li>
                            {% endif %}
                            {% for cat2 in cat1.get_direct_child_categories %}
                                <li>
                                    <a href="{% url category cat2.id %}">{{ cat2.name }}</a>
                                </li>
                            {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </div>
-->

        <div id="menu">
        <table id="categories">
        </table>
        </div>
        
        <div id="content">
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>