{% extends 'base.html' %}

{% block content %}
<div id="category_goods" class="data_blocks">
    <table id="goods_table"></table>
    <div id="goods_pager"></div>
</div>

<!--{   include 'breadcrumbs.html' with category=category %}-->
<div id="category_menu">
    <ul id="cat_menu">
        {% for cat in category.get_category_sequence %}
        <li><a class="small_margin underlined" href="{% url category cat.id %}">{{ cat.name }}</a></li>
        <li><p class="small_margin">&gt;</p></li>
        {% endfor %}
        <li><p class="small_margin">{{ category.name }}</p></li>
    </ul>
</div>

<div id="category_info">

{% if request.user.is_admin %}
<div id="edit_category" class="data_blocks">
    {% if not category.id == 1 %}
        <form class="field_list" id="category" action="{% url category category.id %}" method="POST">
        {% csrf_token %}
            <ul>
            {{ form.as_ul }}
            <li><input class="button" type="submit" value="Save" /></li>
            </ul>
        </form>
    {% endif %}
    <form id="add_category" action="{% url add_category category.id %}" method="GET">
        <input class="edit_button" type="submit" value="Add subcategory" />
    </form>
    {% if not category.id == 1 %}
        <form id="delete_category" action="{% url delete_category category.id %}" method="POST">
        {% csrf_token %}
            <input class="edit_button" type="submit" value="Delete category" />
        </form>
        <form id="move_category" action="{% url move_category category.id %}" method="GET">
            <input class="edit_button" type="submit" value="Move category to..." />
        </form>
    {% endif %}
</div>
{% endif %}

{% if category.get_direct_child_categories %}
<div id="child_categories" class="data_blocks">
    <p>Child categories:</p>
    <ul class="marked">
        {% for cat in category.get_direct_child_categories %}
            <li>
                <a href="{% url category cat.id %}">{{ cat.name }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endif %}

</div>

{% endblock content %}