{% extends 'base.html' %}

{% block scripts %}
    <script src="/media/js/marketJScomments.js" type="text/javascript"></script>
{% endblock scripts %}

{% block content %}

<div class="data_blocks">
    Disscussion on product <a href="{% url product product.id %}">{{ product.name }}</a>
</div>

<script>productIdForTree = {{ product.id }};</script>

<div id="0_div" class="comment_blocks data_blocks">
    <div id="0_subtree">
        <form id="comment_form" method="POST">
        {% csrf_token %}
            <input id="vote_input" type="hidden" value="1" name="vote" />
        </form>
    </div>
    <input id="add_root_comment" type="submit" onclick="addResponse({{ product.id }}, 0)" value="Add comment" />
</div>

{% endblock content %}