{% extends 'base.html' %}

{% block scripts %}
    <script src="/media/js/marketJScomments.js" type="text/javascript"></script>
{% endblock scripts %}

{% block content %}

<div class="data_blocks">
    Disscussion on product <a href="{% url product product.id %}">{{ product.name }}</a>
</div>

<div class="data_blocks">

<div id="comments">
{% for comment in product.get_comments %}
    {% include 'single_comment.html' %}
{% endfor %}
</div>

<div class="comment_blocks">
    {% if not request.user %}<p class="message">You are not logged in. You won't be able to delete your comments</p>{% endif %}
    <table id="{{ comment.id }}_table" class="comment_table">
        <form id="new_comment">
        {% csrf_token %}
        <tr>
            <td class="mark_single mark_rate">
                <div id="mark_errors"></div>
                {{ form.mark }}
            </td>
            <td>
                <div id="comment_errors"></div>
                {{ form.comment }}
            </td>
        </tr>
        </form>
    </table>
    <input type="submit" onclick="addComment({{ product.id }});" value="Add comment" />
</div>

</div>

{% endblock content %}