{% extends 'base.html' %}

{% block scripts %}
    <script src="/media/js/marketJScomments.js" type="text/javascript"></script>
{% endblock scripts %}

{% block content %}

<div class="data_blocks">
    Disscussion on product <a href="{% url product product.id %}">{{ product.name }}</a>
</div>

<div class="data_blocks">

<div class="pagination">
    <span class="step-links">
        {% if comments.has_previous %}
            <a href="?page={{ comments.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            [Page {{ comments.number }} of {{ comments.paginator.num_pages }}]
        </span>

        {% if comments.has_next %}
            <a href="?page={{ comments.next_page_number }}">Next</a>
        {% endif %}
    </span>
</div>

<div id="comments">
    <form id="comment_form" hidden="hidden" method="POST">
    {% csrf_token %}
        <input hidden="hidden" value="1" name="vote" />
    </form>
{% for comment in comments.object_list %}
    {% include 'single_comment.html' %}
{% endfor %}
</div>

<div class="comment_blocks">
    {% if not request.user %}<p class="message">You are not logged in. You won't be able to delete your comments</p>{% endif %}
    <table id="{{ comment.id }}_table" class="comment_table">
        <form id="new_comment">
        {% csrf_token %}
        <tr>
            <td class="mark_single mark_rate">
                <div id="mark_errors"></div>
                {{ form.mark }}
            </td>
            <td>
                <div id="comment_errors"></div>
                {{ form.comment }}
            </td>
        </tr>
        </form>
    </table>
    <input type="submit" onclick="addComment({{ product.id }});" value="Add comment" />
</div>

</div>

{% endblock content %}