{% extends 'base.html' %}

{% block content %}

{%  include 'breadcrumbs.html' with category=product.category %}

<div class="data_blocks">

{% if product.image %}
    <div class="image">
        <img src="/{{ product.image }}" alt="Buy me plz!" />
    </div>
{% endif %}

<div class="data_blocks">
    <form action="{% url add_to_basket product.id %}" method="POST">
    {% csrf_token %}
    
        <span class="field_list"><label>Quantity:</label></span>
        <table><tr>
            <td>{{ product_form.quantity }}</td>
            <td><input class="ui-icon ui-icon-cart img_button" type="submit" value="To basket" /></td>
        </tr></table>
    </form>
</div>

{% if request.user.is_admin %}
    <form id="product" class="field_list" action="{% url product product.id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
        {% if message %}<p class="message">{{ message }}</p>{% endif %}
        <ul>
        {{ form.as_ul }}
            <li>(image will be reloaded)</li>
            <li><input class="edit_button" type="submit" value="Save" /></li>
        </ul>
    </form>
    <form action="{% url delete_product product.id %}" method="POST">
    {% csrf_token %}
        <input class="edit_button" type="submit" value="Delete" />
    </form>
    <form action="{% url delete_product_image product.id %}" method="POST">
    {% csrf_token %}
        <input class="edit_button" type="submit" value="Delete image" />
    </form>
    <form action="{% url move_product product.id %}" method="GET">
    {% csrf_token %}
        <input class="edit_button" type="submit" value="Move to category..." />
    </form>
{% else %}
    <div class="field_list regular_user">
        <ul>
            <li><label>Name:</label><p>{{ product.name }}</p></li>
            <li>
                <label>Description:</label>
                <textarea readonly="readonly" cols="40" rows="10">{{ product.description }}</textarea>
            </li>
        </ul>
    </div>
{% endif %}
</div>

<div class="data_blocks">
    <p>
    Rating: 
    {% if product.get_product_mark_by_most_users != 0 %}
        {{ product.get_product_mark_by_most_users }} <a class="buttonlike_href" href="{% url mark_details product.id %}">(details)</a>
    {% else %}
        ?
    {% endif %}
    </p>
    <p><a class="buttonlike_href" href="{% url comments product.id %}">
    {% if product.get_comment_count > 0 %}Comments ({{ product.get_comment_count }}){% else %}Add comment...{% endif %}
    </a></p>
</div>

{% endblock content %}