{% extends 'base.html' %}

{% block content %}

{%  include 'breadcrumbs.html' with category=product.category %}

<div class="data_blocks">

{% if product.image %}
<div class="image">
    <img src="/{{ product.image }}" alt="Buy me plz!" />
</div>
{% endif %}

{% if request.user.is_admin %}
    <form id="product" class="field_list" action="{% url product product.id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
        {% if message %}<p class="message">{{ message }}</p>{% endif %}
        <ul>
        {{ form.as_ul }}
            <li>(image will be reloaded)</li>
            <li><input class="edit_button" type="submit" value="Save" /></li>
        </ul>
    </form>
    <form action="{% url delete_product product.id %}" method="POST">
    {% csrf_token %}
        <input class="edit_button" type="submit" value="Delete" />
    </form>
    <form action="{% url move_product product.id %}" method="GET">
    {% csrf_token %}
        <input class="edit_button" type="submit" value="Move to category..." />
    </form>
{% else %}
    <div class="field_list regular_user">
        <ul>
            <li><label>Name:</label><p>{{ product.name }}</p></li>
            <li>
                <label>Description:</label>
                <textarea readonly="readonly" cols="40" rows="10">{{ product.description }}</textarea>
            </li>
        </ul>
    </div>
{% endif %}

</div>

{% endblock content %}