{% extends 'base.html' %}

{% block content %}
{%  include 'breadcrumbs.html' with category=product.category %}

<div id="category_info">

<div>
    <form class="field_list" action="{% url move_product product.id %}" method="POST">
    {% if request.user.is_admin %}
        <ul class="move_list">
            <li><label>Name:</label> <a href="{% url product product.id %}">{{ product.name }}</a></li>
            {{ form.as_ul }}
        </ul>

        <input id="category_id" type="hidden" value="0" name="category_id">
        <table id="move_to_category">
        </table>
        
        {% csrf_token %}
        <input class="move_submit" type="submit" value="Move product" />
    {% endif %}
    </form>
</div>

</div>
{% endblock content %}