{% extends 'base.html' %}

{% block scripts %}
    <script src="/media/js/marketJSmove.js" type="text/javascript"></script>
{% endblock scripts %}

{% block content %}
{% include 'breadcrumbs.html' %}

<div id="category_info">

<div>
    <form class="field_list" action="{% url move_category category.id %}" method="POST">
    {% if request.user.is_admin and not category.id == 1 %}
        <ul class="move_list">
            {{ form.as_ul }}
        </ul>

        <input id="category_id" type="hidden" value="{{ category.id }}" name="category_id">
        <table id="move_to_category">
        </table>
        
        {% csrf_token %}
        <input class="move_submit" type="submit" value="Move category" />
    {% endif %}
    </form>
</div>

</div>
{% endblock content %}