{% extends 'base.html' %}

{% block content %}
<table class="item_table">
    <tr class="top">
        <td colspan="2">
            <form action="{% url edit_office 0 %}" method="GET">
                {% csrf_token %}
                <input type="submit" value="Add" />
            </form>
        </td>
    </tr>
    <tr class="top">
        <td>Address</td>
        <td></td>
    </tr>
    {% for o in offices %}
        <tr>
            <td>
                г. {{ o.city }}, ул. {{ o.street }}, дом {{ o.house }}
            </td>
            <td >
                <form action="{% url edit_office o.id %}" method="GET">
                    {% csrf_token %}
                    <input type="submit" value="Edit" />
                </form>
                <form action="{% url delete_office o.id %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Delete" />
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock content %}