<div class="comment_blocks">
    <table id="{{ comment.id }}_table" class="comment_table">
        <tr>
            <td colspan="2" class="signature_single">
            {% if comment.user %}{{ comment.user.login }} wrote:{% else %}Rumors:{% endif %}
            {% if request.user and comment.user.id == request.user.id or request.user and request.user.is_admin %}
                <input class="ui-icon ui-icon-close img_button right" type="submit" onclick="deleteComment({{ comment.id }})" value="Delete" />
            {% endif %}
            </td>
        </tr>
        <tr>
            <td class="mark_single mark_rate">{{ comment.mark }}</td>
            <td rowspan="2">{{ comment.comment }}</td>
        </tr>
        <tr>
            <td class="mark_rate">
                {% if request.user and comment.user.id != request.user.id %}
                    <input type="submit" onclick="changeRating({{ comment.id }})" value="Like!" />
                {% endif %}
                <span id="{{ comment.id }}_rating">(+{{ comment.rating }})</span>
                <!--
                dec comment rating
                { if not request.user or comment.user.id != request.user.id %}
                    <span onclick="changeRating({{ comment.id }}, -1)">-</span>
                { endif %}
                -->
            </td>
        </tr>
    </table>
</div>