<table id="new_comment_table" class="comment_table">
    {% if not request.user %}
    <tr>
        <td>
            <p class="message">
                You are not logged in. You won't be able to delete your comments
            </p>
        </td>
    </tr>
    {% endif %}
    <form id="new_comment">
    {% csrf_token %}

    <tr>
        <td class="mark_single mark_rate">
            <div id="mark_errors"></div>
            {{ form.mark }}
        </td>
        <td rowspan="2">
            <div id="comment_errors"></div>
            {{ form.comment }}
            <input id="response_to_id" hidden="hidden" value="" name="response_to_id" />
        </td>
    </tr>
    <tr>
        <td class="mark_rate">
            <input type="submit" onclick="return addComment({{ product.id }});" value="Add" />
        </td>
    </tr>
    </form>

</table>