<div id="{{ comment.id }}_div" class="comment_blocks">
    <table id="{{ comment.id }}_table" class="comment_table">
        <tr>
            <td colspan="2" class="signature_single">
            {% if comment.user %}{{ comment.user.login }} wrote:{% else %}Rumors:{% endif %}
            {% if request.user and comment.user.id == request.user.id or request.user and request.user.is_admin %}
                <input class="ui-icon ui-icon-close img_button right" type="submit" onclick="deleteComment({{ comment.id }})" value="Delete" />
            {% endif %}
            </td>
        </tr>
        <tr>
            <td class="mark_rate">
                {% if request.user and comment.user.id != request.user.id and request.user.can_vote_today %}
                    <input class="vote_input" type="submit" onclick="changeRating({{ comment.id }}, 1)" value="+" />
                {% endif %}
                <span id="{{ comment.id }}_rating">({{ comment.rating }})</span>
                {% if request.user and comment.user.id != request.user.id and request.user.can_vote_today %}
                    <input class="vote_input" type="submit" onclick="changeRating({{ comment.id }}, -1)" value="-" />
                {% endif %}
            </td>
            <td rowspan="2">{{ comment.comment }}</td>
        </tr>
        <tr>
            <td class="mark_rate">
                <input type="submit" onclick="addResponse({{ product.id }}, {{ comment.id }})" value="Respond" />
            </td>
        </tr>
    </table>
    <div id="{{ comment.id}}_subtree" style="margin-left: 40px;">
    </div>
</div>