{% extends 'base.html' %}

{% block content %}
<table class="item_table">
    {% if request.user.is_admin %}
    <tr class="top">
        <td colspan="4">
            <form action="{% url register %}" method="GET">
                {% csrf_token %}
                <input class="user_button" type="submit" value="Add" />
            </form>
        </td>
    </tr>
    {% endif %}
    <tr class="top">
        <td>Login</td>
        <td>Email</td>
        <td>IsAdmin</td>
        {% if request.user.is_admin %}
            <td></td>
        {% endif %}
    </tr>
    {% for user in users %}
        <tr>
            <td>{{ user.login }}</td>
            <td>{{ user.email }}</td>
            <td>{% if user.is_admin %}+{% else %}-{% endif %}</td>
            {% if request.user.is_admin %}
            <td >
                <form action="{% url edit_user user.id %}" method="GET">
                    {% csrf_token %}
                    <input class="user_button" type="submit" value="Edit" />
                </form>
                <form action="{% url delete_user user.id %}" method="POST">
                    {% csrf_token %}
                    <input class="user_button" type="submit" value="Delete" />
                </form>
            </td>
            {% endif %}
        </tr>
    {% endfor %}
</table>
{% endblock content %}